/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url("../public/back.jpg");
  background-size: cover; /* Adjust the sizing as needed */
  background-repeat: no-repeat;
}


h1 {
  color: #333;
}

.product-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.category {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
  text-align: left;
  background-color: #f7f7f7;
}

.category h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-item span {
  font-size: 1rem;
}

.product-item button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.texxt{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}